@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

.header {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  margin: auto;
  background-color: lightcyan;
}

table {
  display: flex;
  justify-content: space-around;
  width: 90% auto;
  border-bottom: 1px solid gray;
}

td {
  width: 20rem;
}

.title {
  font-size: 18px;
  border: none;
  outline: none;
  background-color: lavender;
}

.currency {
  font-size: 12px;
}

td {
  padding: 10px;
}

.dimension {
  color: grey;
}

@media screen and (max-width: 900px) {
  td {
    display: flex;
  }

  table {
    display: flex;
    justify-content: space-around;
  }

  .dimension {
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  table {
    display: flex;
    justify-content: space-around;
    margin: 5px;
  }

  .dimension {
    font-size: 14px;
  }
}
